/*GLOBAL*/

/*Panoramic*/
@media only screen and (max-width:9999px) { }

/*Big Desktop*/
@media only screen and (min-width:1200px) {
	.dd-option-image,
	.dd-selected-image { max-width: 49px; }
}

/*Small Desktop*/
@media only screen and (max-width:979px) { }

/*iPad*/
@media only screen and (max-width:767px) {
	.menuDesktop,
	.linksExternos { display: none; }
	thead th.footable-visible { padding: 7px 10px 4px 10px !important; }
	form.sessionForm { margin: 7px 0 0 0; padding-right: 5px; }
	.closesessionTag { color: white; padding-right: 0px; }
	.sb-slidebar.sb-left.sb-width-custom { display: inherit; }

	/*login*/
	input[type="text"] { padding: 10px 10px; }

	/*layout*/
	.sidebar { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; position: fixed; z-index: 199; margin-top: 30px; box-shadow: 1px 1px 3px  #888; }
	.contentOuter { padding: 0; border-bottom: solid 10px #808080;/* position: fixed; */ -webkit-transition-duration: 0.3s !important; -moz-transition-duration: 0.3s !important; -o-transition-duration: 0.3s !important; transition-duration: 0.3s !important; }
	.mainContainer { padding: 0; margin-top: 0px; }
	.welcome { margin-top: 0px }
	.pageTitle { width: 90%; }
	.contentInner { position: fixed; background: white; overflow-x: hidden; overflow-y: scroll; height: 100%; }

	/*mobileMenu*/
	.mobileMenu { position: fixed; z-index: 200;/* top: 4px; *//* left: 0; */display: block !important; height: 40px; }
	div#tab-movimientos-no-facturados,
	div#tab-inicio,
	div#tab-cupo-de-mi-tarjeta,
	#tab-iframe { padding-top: 150px; }
	.bannerContainer .col-xs-6.col-sm-4 { padding: 6px; padding-bottom: 20px; }
	.bannerContainer { margin-top: 6px }
	.closesessionTag { color: white; padding-right: 0px; }

	/*sidebar*/
	.welcome { font-size: 12px; }
	.bigName { font-size: 17px; padding-bottom: 5px !important; }
	.dd-selected { padding: 1px 3px; }
	label.dd-selected-text { font-size: 11.5px; }
	.selectorTarjetas { width: 85%; float: right; margin-top: 5px; margin-bottom: 5px; }
	label.dd-option-text { font-size: 11px; width: 47%; }
	div#selectorTarjetas {/* width: 85%; *//* float: left; *//* position: absolute; */ }

	/*mis beneficios*/
	.pageDesc { width: 90%; font-size: 12px; }
	.sliderContainer { margin-bottom: 0 !important; }

	/*login*/
	.loginColumn,
	.welcomeColumn { padding-top: 25px; }

	/*table*/
	th.footable-visible.footable-first-column,
	th.footable-visible.footable-last-column { border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
	.infoTable { margin-bottom: 15px; max-width: 80%; margin-right: auto; margin-left: auto; float: none; }
	.dd-desc { float: left; width: 70%; }
	.slick-prev,
	.slick-next { display: none !important; }
	.contentInner { padding: 0px;/* padding-top: 150px; *//* overflow: scroll; *//* max-height: 120px; */-webkit-transition-duration: 0.3s !important; -moz-transition-duration: 0.3s !important; -o-transition-duration: 0.3s !important; transition-duration: 0.3s !important; }
	.table > thead > tr > th { padding: 8.9px; font-size: 12px !important; }
	td.footable-visible span { font-size: 10.4px; }
	tr.dataTable { background: #F9F9F9 !important; border-bottom: solid 1px #DEDEDE; border-top: solid 1px #DEDEDE; }
	td.footable-row-detail-cell { text-align: left !important; }
	span.footable-sort-indicator { width: inherit !important; }
	thead th.footable-visible { padding: 10px !important; }

	/*mi cupo*/
	.datostarjetaData,
	.datostarjetaName { text-align: center; line-height: 137%; width: 80%; }
	.datostarjetaData { width: 45%; float: left; font-size: 10px; text-align: right; padding-right: 0; padding-right: 15px; line-height: 162%; }
	.datostarjetaName { margin-bottom: 10px;/* border-bottom: solid 1px #E2E2E2; */ padding-bottom: 10px; letter-spacing: -0.5px; float: left; width: 50%; text-align: left; }

	/* proximo vencimientos */
	/* Agregado por jose@zenbyte.cl */
	.zb-mtop { margin-top: 150px; }
	.zb-np-left{ padding-left: 20px !important; }
}

/*Mobile*/
@media only screen and (max-width:480px) {

	/*.iframeEstado{ height:500px;}	*/
	div#tab-inicio { padding-top: 150px; padding-bottom: 630px; }
	div#tab-movimientos-no-facturados { padding-top: 150px; padding-bottom: 200px; }
	div#tab-cupo-de-mi-tarjeta { padding-top: 150px; padding-bottom: 1040px !important; }
	div#tab-iframe { padding-top: 150px; padding-bottom: 500px; }
	.tableData.mid.last { height: inherit; padding-top: 5px; }
	table tr:nth-child(odd) {}
	table tr:nth-child(even) {}

	/*mobile menu*/
	ul.tabs li a,
	ul.tabs2 li a,
	#menuLateral li a { margin-bottom: inherit; border-radius: 0px; color: #848484; text-shadow: 1px 1px 0px #fbfbfb; }

	/*plus icon*/
	span.footable-toggle { right: 0 !important; }

	/*cupo*/
	.datostarjetaName { float: left; font-size: 13px; text-align: left; color: #666; width: 55%; }
	.datostarjetaData.line span {font-size: 12px;}
	

}

/*Extra Small*/
@media only screen and (max-width:320px) { }

/*EXCEPTIONS*/
@media only screen  and (max-width:900px) {
	.table > thead > tr > th { padding: 12px 5px 9px 5px }
	span.footable-sort-indicator { width: 100%; }
	.iframeTarjeta { display: none; }
}