/*FONTS*/
@font-face { font-family: 'opensans'; src: url('../fonts/opensans.eot'); src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype'), url('../fonts/opensans.svg#opensans') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'opensans-semibold'; src: url('../fonts/opensans-semibold.eot'); src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold.woff2') format('woff2'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype'), url('../fonts/opensans-semibold.svg#opensans-semibold') format('svg'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'opensans-bold'; src: url('../fonts/opensans-bold.eot'); src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold.woff2') format('woff2'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype'), url('../fonts/opensans-bold.svg#opensans-bold') format('svg'); font-weight: 800; font-style: normal; }
/*::selection{background:#ca1500;color:white;text-shadow:1px 1px 1px #797979;}*/ 

/*::-moz-selection{background:#ca1500;color:white;}*/
body { -webkit-transition-duration: 0.3s !important; -moz-transition-duration: 0.3s !important; -o-transition-duration: 0.3s !important; transition-duration: 0.3s !important; }
.trans {-webkit-transition-duration: 0.3s !important;-moz-transition-duration: 0.3s !important;-o-transition-duration: 0.3s !important;transition-duration: 0.3s !important;}
.botonera { width: 100%; height: 5px; background-color: #fff; position: fixed; z-index: 999 !important; box-shadow: 2px -1px 7px #666;/* padding-left: 25px; */ }
* {outline: none !important;cursor: default;outline-color: none;}
a,
img { border: none; }
#sb-site { -webkit-transition-duration: 0.3s !important; -moz-transition-duration: 0.3s !important; -o-transition-duration: 0.3s !important; transition-duration: 0.3s !important; }

/*GENERAL*/
body {/* background: url(../img/global/background.jpg); */font-family: 'opensans';text-shadow: 0px 1px 0px #FFF;font-size: 13px;}
.mainContainer {/* background: rgba(158, 158, 158, 0.07); *//* min-height:300px; *//* padding: 0px !important; */max-width: 1010px;margin-top: 20px;}
.adContainer {/* padding-right: 30px !important; */margin-bottom: 20px;float: left;padding-left: 0px !important;}
.adContainer img:hover { cursor: pointer; opacity: .8; }
.contentOuter { }
.contentInner { background: rgba(255, 255, 255, 0.76); min-height: 569px !important; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; padding: 16px; }
.pageTitle { color: #6B6B6B; font-family: 'opensans'; font-size: 21px; padding: 15px 0 14px 5px; }

/*TABLE*/
thead { color: white; text-shadow: 0.2px 1px 0px #4A4A4A; }
th.footable-visible {border: 0px solid #000000;background: #ca1500;/* background-image: url(../libs/table/img/border.jpg); */background-position: center right;background-repeat: no-repeat;font-size: 11.2px;}
th.footable-visible.footable-first-column {border-radius: 10px 0px 0px 10px;-moz-border-radius: 10px 0px 0px 10px;-webkit-border-radius: 10px 0px 0px 10px;}
th.footable-visible.footable-last-column { border-radius: 0px 10px 10px 0px; -moz-border-radius: 0px 10px 10px 0px; -webkit-border-radius: 0px 10px 10px 0px; background-image: none; }
table {/* background: url(../libs/table/img/background.jpg); */ }

/*MOBILE MENU*/
.menuTag { color: white; text-shadow: 0px 1px 0px #797979; padding: 9px; float: left; }

/*SIDEBAR*/
.sidebar { background: #e4e1e1; min-height: 200px; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; padding-top: 13px;/* padding-bottom: 17px; */ }
tbody { color: #656565; font-size: 12px;/* background: #E4E4E4; */ }
table tr:nth-child(odd) {background: #F5F5F5;}
table tr:nth-child(even) { background: #EAEAEA; }
.closeSession { height: 20px; float: right; background: red; width: 20px; }
.welcome { color: #656565; font-size: 15px; margin-top: 10px; }
.bigName { color: #ca1500; font-family: 'opensans-semibold'; font-size: 21px; letter-spacing: -0.6px; width: 100%; border-bottom: solid 1px white; padding-bottom: 13px; }
ul.tabs { margin-bottom: 0px; }
li.tab a:hover {text-shadow: 1px 1px 1px #545454;-moz-border-radius: 10px;background: #777777;}
ul.tabs li a,
ul.tabs2 li a,
#menuLateral li a {color: white;text-shadow: 1px 1px 0px #676767;padding: 10px;display: block;text-decoration: none;cursor: pointer;background: #989898;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin-bottom: 6px;font-size: 12px;letter-spacing: 0.3px;}
ul.tabs li a.active,
 ul.tabs2 li a.active {color: white;background: #ca1500;border-radius: 5px;text-shadow: none;-webkit-transition: background-color 200ms linear;-moz-transition: background-color 200ms linear;-o-transition: background-color 200ms linear;-ms-transition: background-color 200ms linear;transition: background-color 200ms linear;/* -webkit-border-radius: 10px; */-moz-border-radius: 10px;/* border-radius: 10px; */}
.bannersLateral img { display: block; border: solid 1px #ccc; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin-bottom: 15px; }
.bannersLateral img:hover { border: solid 1.3px #4E4E4E; opacity: 0.8; cursor: pointer; }
.centerTitle { text-align: center; color: #ca1500; width: 80%; margin: auto; }
.pageDesc { width: 80%; margin: auto; text-align: center; font-size: 14px; color: #929192; margin-bottom: 20px; }
#tab-inicio { padding: 0; margin: 0; }

/*SLIDER INICIO*/
.sliderContainer { padding: 0 !important; margin-bottom: 13px; }
.sliderContainer .slick-slide {/* opacity: 0.2 !important; *//* transform: scale(.83); */-webkit-transition-duration: 0.3s !important;-moz-transition-duration: 0.3s !important;-o-transition-duration: 0.3s !important;transition-duration: 0.3s !important;}
.sliderContainer  .slick-slide.slick-current {/* opacity: 1 !important; */transform: scale(1);}
.bannerContainer { margin-top: 6px; float: left; }
.bannerContainer img {/* -webkit-border-radius: 10px; */-moz-border-radius: 10px;/* border-radius: 10px; *//* border: solid 1px #ccc; */}
.bannerContainer img:hover {cursor: pointer;/* border: solid 1px #4E4E4E; *//* opacity: .8; *//* margin-top: -5px; */background: #E6E6E6;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;}
.bannerContainer .col-xs-4 { padding: 5px; }
.greenDots .slick-dots li button:before { color: #ca1500; }
.containerServicios { position: relative; margin-bottom: 30px; }

/*DROPDOWN*/
.dd-options { width: 100% }
.dsq-reply { border-bottom: dashed 1px #ccc; margin: 25px 0 60px; }
.dd-selected { color: #000000; }
#dd-display-data { height: 230px; overflow: auto; }
.dd-selected-text { float: left;/* min-width: 200px; */ width: 61%; font-size: 11px; }
.dd-option-image,
.dd-selected-image { max-width: 30px }
#dd-modal { display: none; position: fixed; top: 50%; left: 50%; height: 280px; width: 500px; margin-top: -140px; margin-left: -250px; background: #303030; border: solid 15px rgba(0, 0, 0, 0.4); -moz-background-clip: padding;           /* Firefox 3.6 */ -webkit-background-clip: padding;         /* Safari 4? Chrome 6? */ background-clip: padding-box; -moz-border-radius: 5px; border-radius: 5px; z-index: 20000; padding: 20px; color: #fff; text-shadow: none; line-height: 1.5em; }
#close-modal { margin-left: 200px; width: 100px; padding: 5px; }
a.dd-option { width: 100%; float: left; }
div#selectorTarjetas { margin: 12px 0px; border: solid 0px !important; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; }
td.footable-visible span { color: black; font-family: 'opensans-semibold'; }

/*CUPO DE MI TARJETA*/
.infoTables {margin-top: 5px;text-align: center;text-shadow: none;padding: 0 !important;margin-bottom: 15px;}
.tableHeader { background: #b4b4b4; color: white; padding: 9px 4px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; font-size: 13.5px; line-height: 17px; }
.tableHeader span,
.tableData span { font-family: 'opensans-semibold'; font-size: 13px; }
.tableData {background: #e5e5e5;padding: 7px;border-bottom: solid 1px #F7F7F7;color: #929192;}
.infoTables .col-xs-4 { padding-left: 0 !important; }
.infoTables .col-xs-4 { padding: 10px !important; }
.tableData.last {/* -webkit-border-bottom-right-radius: 10px; *//* -webkit-border-bottom-left-radius: 10px; */-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;/* border-bottom-right-radius: 10px; *//* border-bottom-left-radius: 10px; */border-bottom: 0;}
.datostarjetaName { color: #ca1500; font-size: 15px; }
.datostarjetaData { font-size: 14px; color: #787777; text-align: center; }
.datostarjetaData {border-left: solid 1px #ededed;color: #ca1500;font-family: 'opensans-bold';text-align: right;}
.datostarjetaData span,
.datostarjetaName span {font-family: 'opensans-semibold';}
.extraCupo {background: #d8d8d8;color: gray;margin-top: 0px;width: 100%;margin: auto;cursor:pointer;/* -webkit-border-bottom-right-radius: 10px; *//* -webkit-border-bottom-left-radius: 10px; */-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;/* border-bottom-right-radius: 10px; *//* border-bottom-left-radius: 10px; *//* background: rgba(173, 17, 0, 1); */background: -moz-linear-gradient(top, rgba(173, 17, 0, 1) 0%, rgba(202, 20, 0, 1) 29%, rgba(202, 20, 0, 1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173, 17, 0, 1)), color-stop(29%, rgba(202, 20, 0, 1)), color-stop(100%, rgba(202, 20, 0, 1)));/* background: -webkit-linear-gradient(top, rgba(173, 17, 0, 1) 0%, rgba(202, 20, 0, 1) 29%, rgba(202, 20, 0, 1) 100%); */background: -o-linear-gradient(top, rgba(173, 17, 0, 1) 0%, rgba(202, 20, 0, 1) 29%, rgba(202, 20, 0, 1) 100%);background: -ms-linear-gradient(top, rgba(173, 17, 0, 1) 0%, rgba(202, 20, 0, 1) 29%, rgba(202, 20, 0, 1) 100%);/* background: linear-gradient(to bottom, rgba(173, 17, 0, 1) 0%, rgba(202, 20, 0, 1) 29%, rgba(202, 20, 0, 1) 100%); */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad1100', endColorstr='#ca1400', GradientType=0);border: none;padding: 0;font-size: 10px;text-align: left;padding-left: 10px;}
/*.extraCupo:before { content: ""; display: block; height: 20px; width: 20px; float: left; background: url(../img/cupo/star.png); }*/

/*LOGIN*/
input.validation-failed { box-shadow: 0px 0px 4px red; background: url("../libs/login/img/no.png") no-repeat 96% center #EAEAEA !important; }
input.validation-passed { box-shadow: 0px 0px 4px #19A544; background: url("../libs/login/img/ok.png") no-repeat 96% center #EAEAEA !important; }
.loginContainer { background: rgba(255, 255, 255, 0.81); padding-top: 15px; padding-bottom: 0px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; max-width: 947px; }
.loginTitle { color: #ca1500; font-size: 29px; line-height: 31px; font-family: 'opensans-semibold'; letter-spacing: -0.7px; }
.loginsubTitle { color: #929192; font-size: 15px; }
input[type="submit"] { background: #ca1500; width: 100%; padding: 10px; border: 0; color: white; text-shadow: 0px 1px 1px #666; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.loginWelcome { color: #ca1500; font-family: 'opensans-semibold'; font-size: 17px; margin-bottom: 19px; }
.reminders { text-align: center; font-size: 11px; }
.btnLoading{background-image: url(../img/login/loader.gif) !important;background-repeat: no-repeat !important;background-position: 99% center !important;}
.reminders a {color: #9A9A9A;cursor: pointer;}
.loginColumn,
.welcomeColumn { padding-top: 43px; }
.adContainerHome {padding-right: 0 !important;max-width: 945px;padding-left: 0 !Important;float: inherit;}
.legalMov {/* margin-top: 40px; */ color: #666; font-size: 11px; }
.legalCupo {margin-top: 8px;color: #666;font-size: 11px;text-align: justify;padding-left: 10px;}
form.sessionForm { display: block; width: 100%; margin-top: 0; }
input.closeSession { background: url(../img/global/logout.png); background-size: contain; width: 21px; height: 21px; font-size: 0; }
.closesessionTag { font-size: 10.5px; line-height: 11px; position: absolute; text-shadow: none; color: #666; right: 40px; float: right; width: 38px; text-align: right; }
input.closeSession:hover { text-decoration: none; color: white !important; cursor: pointer; opacity: .8; }

/*MENU LATERAL*/
#menuLateral li a { background: #DCDCDC; border-bottom: solid 1px #B1B1B1; }
.mobileMenu { width: 100%; height: 37px; background: #808080; margin-right: 0 !important; float: left; }
.mobileMenu a.closeSession { padding: 0px; float: right; margin: 9px; }
.mobileMenu a.closeSession:before { color: white; width: 50px; }
#menuLateral ul.tabs li a.active { background: #ADADAD !important; color: white; text-shadow: none; }
span.footable-toggle { color: #ca1500 !important; }
#menuLateral li { list-style: none; }
td.footable-visible.footable-first-column { text-align: center; font-family: 'opensans-semibold'; }
label.dd-option-text { font-size: 12px; width: 60%; }
.externalInfo a { color: white !important; text-shadow: none !important; }
.externalInfo a { background: #ca1500 !important; color: white; text-shadow: none; }
input[type="submit"]:hover { opacity: 0.7; }
.validation-message li { list-style: none; font-size: 11px; text-align: center; }
ul#vmessage-0-password { }
.validation-message { margin: 0; margin-bottom: -13px; }
.footable.breakpoint > tbody > tr > td > span.footable-toggle { position: absolute; right: 11px; cursor: pointer; }
span.footable-sort-indicator {    /* width: 100%; */ }
td.footable-row-detail-cell { text-align: left !important; }
.dd-desc { width: 60%; }
.bannerInfo { text-align: center; font-size: 11.5px; }
.bannerInfo span { font-family: 'opensans-bold'; color: #ca1500; font-size: 14px; }
.centerTitle.bannerTitle { color: #3A3A3A; font-size: 19px; }
.lightbox { display: none; }
.contentBox {background: white;/* text-align: center; */max-width: 392px;float: left;padding: 8px;}
.contentBox a { color: #ca1500; cursor: pointer; }

.contentBox span {
    color: #ca1500;
    font-family: 'opensans-semibold';
}

img.trans {}

.adContainer img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.iframeEstado {
    height: 380px;
}

.errorMessage {
	font-size: 12px;
	font-weight: bold;
	color: #cb1500;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	letter-spacing: -0.6px;
	font-family: 'opensans-semibold';
	width: 100%;
	float:left;
}

.errorCol{
	font-size: 11.5px;
    text-align: center;
    text-shadow: none;
    color: #FFF;
}

.mid {
   border: none;
}

.tableData.mid.last {
    height: 109px;
    padding-top: 31px;
}

.col-xs-6.col-sm-4.welcomeColumn {
    padding-left: 33px;
    padding-right: 0px;
}

.productAlert {
    padding: 10px;
    float: left;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 0;
    color: #ff0303;
    text-shadow: 0px 1px 0px #f3f3f3;
    display: table;
    background: url("../img/cupo/alert.png") no-repeat 15px center #ff7878;
    background-size: 40px;
    padding-right: 0;
    margin-top: 13px;
}

.productalertContainer {
    padding: 15px;
}

.alertIcon {
    float: left;
    height: 10px;
    width: 67px;
    margin-top: -10px;
    margin-left: -10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: url("../img/cupo/alert.png") no-repeat center center #ff7878;
    background-size: 38px;
    margin-right: 17px;
    min-height: 60px;
    float: left;
}

.alertInfo {
    background-color: #ffd0d0;
    margin-left: 60px;
    margin-top: -10px;
    padding: 10px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    } 

.datostarjetaData.line span {
    color: #666;
    padding-right: 4px;
    font-family: 'opensans-semibold';
    font-size: 17px;
}

.alertInfo a {
    color: red;
    font-family: 'opensans-semibold';
    text-decoration: underline;
}
@-moz-document url-prefix() { 
  .se-pre-con{
	  display:none;
  }
}
/* Agregado por jreyes@zenbyte.cl */

.zb-envio-mail .clear {
    clear: both;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dfdfdf;
    margin:0px auto 15px;
}
.zb-envio-mail .pageTitle {
    font-size: 19px;
    padding: 10px;
	background-image:url('../img/login/arrow-down.png');
	background-repeat:no-repeat;
	background-position:96% center;
	background-size:auto 50%;
	cursor:pointer;
}
.zb-envio-mail .pageTitle.active {
	background-image:url('../img/login/arrow-up.png');
}
.zb-envio-mail .clear:last-child {
    border-bottom: 0px solid #dfdfdf;
    margin-bottom: 0px;
}
.zb-envio-mail form {
	padding:10px 15px;
	display:none;
}
.zb-envio-mail input {
    float: left;
    width: auto;
}
.zb-envio-mail .pageSubTitle {
    padding-bottom: 10px;
    font-weight: bold;
    color: #999;
}
.zb-envio-mail {
    background: #f9f9f9;
    border-radius: 5px;
    border:1px solid #eaeaea;
}
.zb-envio-mail input[type="submit"],.zb-envio-mail input[type="button"] {
	margin: 15px 0px;
    padding: 9px 40px;
    border-radius: 0px;
    background: #ca1500;
    color: white;
    clear: both;
    border: 0;
}
.zb-envio-mail input[type="text"] {
    min-width: 200px;
    max-width: 300px;
	background: #fff;
    border: 1px solid #999;
}
#div-clave-dinamica{
	display:none;
}
#email-campo img {
    max-width: 20px;
    padding-top: 10px;
    cursor: pointer;
    opacity: 0.5;
}
#email-campo img:hover {
    opacity: 1;
}
/* Agregado por jose@zenbyte.cl */

.zb-np-left{
    padding-left: 0px !important;
 }
.zb-pvenc-title span {
    border: 1px solid #e1e1e1;
    padding: 5px 8px;
    background-color: #fafafa;
    border-radius: 3px;
    margin-left: 6px;
 }

 .zb-pvenc-title {
    margin-top: 21px;
    margin-bottom: 10px;
  }
.zb-np {
    padding: 0px !important;
}

.zb-text{  }
.zb-text p {font-size: 10px;color: gray;margin-bottom: 0px;}
.zb-text span {color: black;font-weight: 200;} 
.zb-back-op { background-color: #efefef;}
.extracupo { -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s; }
.extraCupo:hover {background-color: lightgrey;}
.zb-img-bkg-2 {background-image: url(../img/cupo/darrow.png);background-repeat: no-repeat;background-position: 88% 50%;}
.zb-img-bkg {background-image: url(../img/cupo/uparrow.png);background-repeat: no-repeat;background-position: 88% 50%;}


.img-tabla{
	margin:10px auto;
}
.mensajes-estado-cuenta {
    min-height: 130px;
}
p.mesa-ayuda {
    padding: 10px;
    border: dashed 1px #ca1400;
    display: inline-block;
    border-radius: 5px;
}
.mesa-ayuda span {
    color: #ca1500;
    font-weight: bold;
}
#mensajes-estado-correo {
    height: 125px;
}
#mensajes-estado-correo p {
    height: 70px;
}
.zb-envio-mail form span{
    display: block;
    float: left;
	padding:10px 15px 0px 0px;
}
#mensajes-estado-correo input[type="button"] {
    background: #c7c7c7;
    border: 0px;
    color: #fff;
    margin: 7px 30px;
    padding: 5px 20px;
}
#mensajes-estado-correo input[type="button"]:hover {
    background: #ca1500;
}
.mensajes-confirmacion{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 200px 10px 0px;
    background: rgba(0, 0, 0, 0.58);
    left: 1px;
    top: 1px;
}
.mensajes-confirmacion .productAlert{
    position: relative;
}
.mensajes-confirmacion .productalertContainer{
	max-width:450px;
	margin: 0px auto;
}
.mensajes-confirmacion ,.productalertContainer{
	display:none;
}
.mensajes-confirmacion.exito .productalertContainer.exito,.mensajes-confirmacion.error .productalertContainer.error{
	display:block;
}
.exito .productAlert {
    background: url(../img/cupo/checked.png) no-repeat 15px center #43b56b;
	background-size: 40px;
	color: #43b56b;
}
.exito .alertInfo {
	background-color: #d0ffd1;
}