.menuLateral a.sb-close{
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #CCC;
	padding-left: 15px;
}
.menuLateral a.sb-close:hover {
	color: #FFF;
	text-decoration: underline;
}
.menuLateral .menuHeader{
	color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 600;
}


#sb-site {
	background: white;
	position: absolute;
	top: 0;
	width: 100%;
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
	background-color:#404040;
	/* Bootstrap Changes */
	border: none;
	width: 100%;
	left: auto;
	right: auto;
}
.navbar-left {
	float: left;
	padding: 9px;
	background: #444444;
	z-index: 400;
	height: 40px;
}

#top-arrow {
	padding-top: 17px;
	padding-bottom: 13px;
}

.navbar .sb-toggle-left {
	width: 58px;
	float: left;
	padding: 14px;
}

.navbar .sb-toggle-right {
	width: 58px;
	float: right;
	padding: 14px;
}

.sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}

.navicon-line {
	width: 23px;
	height: 4px;
	border-radius: 1px;
	margin-bottom: 3px;
	background-color: white;
}


ul.navbar-nav {
	display: none;
}


/* Slidebars */

.sb-slidebar {
	background-color: #222222;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	background-color: #dcdcdc;/* Background colour. *//* Text colour. */
	background-position: center top;
}


/* Main Menu */
.sb-menu { /* Apply to <ul> or <ol>. */
	padding: 0;
	margin: 0;
	list-style-type: none;
}


}
/* Left */


.sb-menu li .sb-open-right, .sb-menu li small {
	display: inline-block;
	padding: 14px;
}

/* Slidebar Type */

.sb-slidebar, .sb-slidebar h3 {
	color: #F0F0F0;
	z-index: -19;
	display: block;
	position: fixed;
	width: 80%;
}

.sb-slidebar ul.sb-nav li a {
	color: #DEDEDE;
}

.sb-slidebar ul.sb-nav li a:hover {
	color: #C7C7C7;
	text-decoration: none;
}

.sb-slidebar ul.sb-nav li span:hover {
	color: #C7C7C7;
}

/* Anchor Links */
#download, #api, #options, #helper-classes {
	margin-top: -50px;
	padding-top: 50px;
}

/* Helper Classes */
.add-bottom-margin {
	margin-bottom: 15px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.add-top-margin {
	margin-top: 15px;
}

.no-top-margin {
	margin-top: 0;
}

.push-down {
	position: relative;
	top: 2px;
}

@media (min-width: 768px) {
	ul.navbar-nav {
		display: block;
	}
	
	#logo {
		text-align: left;
	}
}

@media (min-width: 992px) {

}