/*GENERAL*/
body { min-width: 1024px }

/*SIDEBAR*/
.sidebar { width: 25% }
input.closeSession { background: url(img/global/logout.png); }


/*CONTENT*/
.contentOuter { width: 75%; background: white; }
.bannerContainer { width: 100%; }
.bannerContainer .col-sm-4 {width: 33.3%}
.bannerContainer img { width: 200px; }

/*BOOTSTRAP*/
 .col-sm-4 {width: 33.3% !important}
 .col-sm-3 {width: 25% !important}
 .col-sm-6 {width: 50% !important}


